<%- include("partials/header.ejs") -%>
<div><h1>Home</h1>
    <p><%= startingContent %></p>
    <% console.log(posts) %>
    
    <%posts.forEach(function(post){%>
        <h1><%=post.title%></h1>
        <p><%=post.content.substring(0,100)+ " ..."%>
        <a href="/posts/<%=post._id%>">Read More</a>
        </p>
    <%})%>
</div>
<div><%- include("partials/footer.ejs") -%></div>
<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="../public/css/style.js"></script>

